page-register {

}

.registerLogo{
    height: 100px;
    width: 100px;
    margin: 0 auto;
    display: block;
}

ion-card ion-row{
    padding: 20px;
    float: right;
}

div button{
    display: block;
}

