<ion-header>

  <ion-navbar color="dark">
    <ion-title>description Capteur</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div *ngIf="indexFromHome">
		Entrer l'information que vous voulez modifier de l'item selectioner : {{indexFromHome}}
			<input type="text" [(ngModel)]="description">
			<ion-buttons>
				<button ion-button clear block color="primitive" (click)="modifyDescriptionClick(description, indexFromHome)">
					modifier
				</button>
			</ion-buttons>
	</div>
	<div *ngIf="!indexFromHome">
		<p>
				Vous navez selectionne aucun capteur a modifier... retour vers: 
		</p>
		<div>
			<button ion-button clear block color="primitive" (click)="gotoHomePage()">ecran principale</button>
		</div>
	</div>
</ion-content>