<ion-header>

	<ion-navbar color="primary">
		<ion-title>
			Sondes de temperature
		</ion-title>
	</ion-navbar>

</ion-header>

<ion-content padding>
	<ion-item>
		<ion-label>Entrepot</ion-label>
		<ion-select [(ngModel)]="selectionEntrepot">
		  <ion-option value="ep">Peribonka</ion-option>
		  <ion-option value="estm">St-Margerite</ion-option>
		</ion-select>
	</ion-item>
	<ion-item>	
		<ion-label>Section</ion-label>
		<ion-select [(ngModel)]="selectionSection">
		  <ion-option value="sv">Village</ion-option>
		  <ion-option value="sp">Pompe</ion-option>
		</ion-select>
  	</ion-item>
	<ion-list>
	<div *ngIf="selectionEntrepot == 'ep' && selectionSection == 'sv'">
		<ion-item-sliding *ngFor="let capteur of Capteurs | async; let i = index;">
			<ion-item>
				<ion-icon padding-top name="thermometer"></ion-icon>
				<button ion-button clear padding-top (click)="onClickItemList(capteur.description, i+1)">Temperature sonde {{i+1}} :
					{{capteur.value | json}} °C</button>
			</ion-item>

			<ion-item-options>
				<button ion-button color="secondary" (click)="descriptionClicked(i+1)">
					<ion-icon name="menu"></ion-icon>
					Description
				</button>
			</ion-item-options>
		</ion-item-sliding>
	</div>
	</ion-list>
</ion-content>